<section class="todoapp">
			<header class="header">
				<h1><%=@list.name%></h1>
				<input class="new-todo" placeholder="Everything on this list!" autofocus="">
			</header>
			<section class="main">
				<input class="toggle-all" type="checkbox">
				<label for="toggle-all"> Mark all as complete</label>
			</section>
			</section>
